In [1]:
import csv
import numpy as np
import pandas as pd

In [3]:
# Use Pandas to read in the measurement and station CSV files as DataFrames.

measurements = pd.read_csv('hawaii_measurements.csv')
stations = pd.read_csv('hawaii_stations.csv')

In [4]:
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [10]:
#Look for null values

measurements.isnull().sum()

#We can see that prcps has missing values

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [11]:
#Look for null values

stations.isnull().sum()

#We can see that there are no missing values

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [12]:
print(measurements['prcp'])

0        0.08
1        0.00
2        0.00
3        0.00
4         NaN
5        0.06
6        0.00
7        0.00
8        0.00
9        0.01
10       0.00
11       0.00
12       0.00
13       0.00
14       0.00
15       0.00
16       0.00
17       0.00
18       0.00
19       0.00
20       0.00
21       0.01
22       0.00
23       0.04
24       0.12
25       0.00
26        NaN
27       0.03
28       0.01
29        NaN
         ...
19520    0.84
19521    0.30
19522    0.30
19523    0.00
19524    0.40
19525    0.30
19526    0.30
19527    0.00
19528     NaN
19529    0.25
19530    0.06
19531     NaN
19532     NaN
19533    0.05
19534    0.34
19535    0.15
19536    0.07
19537     NaN
19538    0.14
19539     NaN
19540    0.22
19541    0.42
19542    0.42
19543    0.13
19544     NaN
19545    0.09
19546     NaN
19547    0.56
19548    0.50
19549    0.45
Name: prcp, Length: 19550, dtype: float64

In [13]:
#Let's assume that there is no prcp for those that have NaN values so lets set all NaNs to 0.00

measurements['prcp'].fillna(0.00, inplace=True)

In [14]:
#Look for null values

measurements.isnull().sum()

#Success! We have filled in all the nulls

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [15]:
#Exporting cleaned files as CSVs 

measurements.to_csv('clean_hawaii_measurements.csv')

In [16]:
stations.to_csv('clean_hawaii_stations.csv')