In [ ]:
import csv
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
# Pulling in cleaned data

clean_measurements = pd.read_csv('clean_hawaii_measurements.csv')
clean_stations = pd.read_csv('clean_hawaii_stations.csv')

In [3]:
# Use the engine and connection string to create a database called hawaii.sqlite

engine = create_engine("sqlite:///hawaii.sqlite")

In [4]:
con = engine.connect()

In [5]:
#Use declarative_base and create ORM classes for each table.
Base = declarative_base()

In [6]:
#You will need a class for Measurement and for Station.
#Make sure to define your primary keys.

class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    
def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
#Once you have your ORM classes defined, create the tables in the database using create_all.
Base.metadata.create_all(engine)

In [9]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
measurements = clean_measurements.to_dict(orient='records')

In [10]:
stations = clean_stations.to_dict(orient='records')

In [11]:
print(measurements[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-06', 'prcp': 0.0, 'tobs': 73}]

In [12]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Save the reference to the 'measurements' table as a variable 
measurements_tb = sqlalchemy.Table('measurements', metadata, autoload=True)

# Save the reference to the 'stations' table as a variable
stations_tb = sqlalchemy.Table('stations', metadata, autoload=True)

In [15]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
con.execute(measurements_tb.delete())
con.execute(stations_tb.delete())

In [17]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
con.execute(measurements_tb.insert(), measurements)

con.execute(stations_tb.insert(), stations)

In [18]:
# Test that the insert works by fetching the first 5 rows. 
con.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.0, 73)]